global
    log 127.0.0.1 local0 notice
    maxconn 2000

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000

listen steemitExample 0.0.0.0:80
    mode http
    stats enable
	stats uri /stats
    balance roundrobin
    server web01 172.17.0.3:8080
    server web02 172.17.0.4:8080
    server web03 172.17.0.5:8080
	timeout connect  5000
    timeout client  10000
    timeout server  10000